.new-tweet {
 text-align: left;
}
button {
  margin-top: 10px;
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: 'Bungee', 'sans-sarif';
}
button:hover {
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: #545149;
}
textarea {
  height: 40px;
  overflow: hidden;
  border-style: none;
  border-bottom: 5px solid #545149;
  width: 100%; 
  outline: none;
  background-color: #f4f1ec;
  resize: none;
}
::placeholder {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-style: italic;
  font-weight: bold;
}
output {
  margin-top: 10px;
  font-family: 'Bungee', 'sans-sarif';
  float: right;
}

.negative {
  color: tomato;
}