.new-tweet {
 text-align: left;
 display: none;
}
.new-tweet #show {
  display: block;
}
#new-tweet-form button {
  margin-bottom: 1em;
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: 'Bungee', 'sans-sarif';
  height: 2em;
  width: 5em;
}
#new-tweet-form button:hover {
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: #545149;
}
#new-tweet-form textarea {
  overflow: hidden;
  border-style: none;
  border-bottom: 0.2em solid #545149;
  width: 100%; 
  outline: none;
  background-color: #f4f1ec;
  resize: none;
}
::placeholder {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-style: italic;
  font-weight: bold;
}
output {
  font-family: 'Bungee', 'sans-sarif';
  float: right;
  font-size: 1.5em;
}
/*if > 140 char in tweet, color === red */
.negative {
  color: tomato;
}