#tweet-container {
  position: relative;
  margin: auto;
}
section.error-msg {
  width: auto;
  height: auto;
  text-align: center;
  margin: 1em;
  border: solid red;
  font-size: 2rem;
}
section.error-msg:error {
  display: inline-block;
}
article.tweet {
  margin-bottom: 2em;
  padding: 20px;
  background-color: #f4f1ec;
  border: 3px solid #545149;
  height: auto;
}
article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article.tweet header div.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.handle {
  color: cornflowerblue;
  opacity: 60%;
  margin: 20px;
  font-size: 40px;
  float: right;
  display: none;
}
#tweet-container article.tweet:hover {
  box-shadow: cornflowerblue 5px 5px;
  text-shadow: 1px 1px;
}
#tweet-container article.tweet:hover .handle {
  display: inline;
}
#tweet-container article.tweet .avatar {
  width: 86px;
  height: 86px;
  padding: 0;
  font-size: 75px;
}
.name {
  font-size: 40px;
}
.tweet-content{
  font-size: 30px;
  padding-bottom: 30px;
  border-bottom: solid 5px;
}
.icons {
  float: right;
  filter: grayscale(100%);
  font-size: 2.5rem;
}
footer {
  padding-bottom: 20px;
}