#tweet-container {
  position: relative;
  margin: auto;
  border-style: solid;
}
article.tweet {
  padding: 20px;
  background-color: #f4f1ec;
  border: 3px solid #545149;
  height: 280px;
}
article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article.tweet header div.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.handle {
  color: cornflowerblue;
  margin: 20px;
  font-size: 40px;
  float: right;
  display: none;
}
#tweet-container article.tweet:hover {
  box-shadow: cornflowerblue 5px 5px;
  text-shadow: 1px 1px;
}
#tweet-container article.tweet:hover .handle {
  display: inline;
}
.avatar {
  width: 86px;
  height: 86px;
  padding: 0;
  font-size: 75px;
}
.name {
  font-size: 40px;
}
.tweet-content{
  font-size: 30px;
  padding-bottom: 30px;
  border-bottom: solid 5px;
}
.icons {
  float: right;
  filter: grayscale(100%);
}
footer {
  padding-bottom: 20px;
}