#tweet-container {
  position: relative;
  margin: auto;
}
/*should only appear when there is an error*/
#message-box {
  display: none;
  padding: 1em;
  margin: 1em auto;
  border: solid rgb(172, 1, 1);
  font-size: 2rem;
  text-align: center;
}
#message-box #error {
  display: block;
}
article.tweet {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #f4f1ec;
  border: .2em solid #545149;
  height: auto;
}
article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article.tweet header div.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.handle {
  color: cornflowerblue;
  opacity: 60%;
  margin-top: 1em;
  margin-right: 1em;
  font-size: 1.7em;
  float: right;
  display: none;
}
#tweet-container article.tweet:hover {
  box-shadow: cornflowerblue .3em .3em;
  text-shadow: 0.05em 0.05em;
}
#tweet-container article.tweet:hover .handle {
  display: inline;
}
#tweet-container article.tweet .avatar {
  padding: .2em;
  font-size: 4em;
}
.name {
  font-size: 1.7em;
}
.tweet-content{
  font-size: 1.5em;
  padding-bottom: 1em;
  border-bottom: solid .15em;
}
p {
  word-break: break-all;
  white-space: normal;
}
.icons {
  float: right;
}
footer {
  font-size: 1.2em;
  padding-bottom: 1em;
}